.browfile{
    border-bottom: 2px solid #2E58A6;
}
.browserborder{
    border:2px dashed #2E58A6  ;
    
}
.text-color{
    color: #748AA6;
}
.popular{
    background-color: #50C900;
}
.ourplan-border{
    border:2px solid #50C900 !important ;
}