.getintouch{
    
    .video-bg{
        background-color: #F0F4FC;
    }
    .video-text{
        background-color: #2E58A6;
        color: #F0F4FC;
    }
  
}
.dropzonesetting{
     .MuiDropzoneArea-icon{
         color: #2E58A6 !important;
    }

}
.ourplan-br:hover{
    border: 1px solid #2E58A6 !important;
}
.price-primary{
    background:#2E58A6 ;
}
.text-error{
    .MuiFormHelperText-contained{
margin-left: 0px;
margin-right: 0px;
background-color: #F0F4FC;    
}
}
.careers-error{
    .MuiFormHelperText-contained{
margin-left: 0px;
margin-right: 0px;
background-color: #fff;    
}
}